/* =============================================================================
 *
 * Waybar styles
 *
 * Styles reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #a89984;
    }

    to {
        color: #a89984;
        background-color: #d65d8e;
    }
}

@keyframes blink-critical {
    70% {
      color: #a89984;
    }

    to {
        color: #a89984;
        background-color: #cc241d;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: #282828;
    color: #ffffff;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #cc241d ;
}

#battery.critical {
    color: #cc241d;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #d65d8e;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background-color: #282828;
    border-bottom: 2px solid #ebdbb2;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: #d65d8e;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bold;
}

#workspaces button {
    border-bottom: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    color: #888888;
}

#workspaces button label{
    color: #689d6a;
}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #689d6a; 
}

#workspaces button:hover {
  background: #323232;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #689d6a;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
